doctype html
html
  head
    title #{title}CPE ROOM RESERVATION
    meta(charset='utf-8')
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    meta(name='viewport', content='width=device-width, initial-scale=1')
    link(rel='stylesheet', href='/stylesheets/bootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
  body
     nav.navbar.navbar-inverse.navbar-fixed-top
      .container
        .navbar-header
          button.navbar-toggle.collapsed(type='button', data-toggle='collapse', data-target='#navbar', aria-expanded='false', aria-controls='navbar')
            span.sr-only Toggle navigation
            span.icon-bar
            span.icon-bar
            span.icon-bar
          a.navbar-brand(href='/') CPE ROOM RESERVATION
        #navbar.collapse.navbar-collapse
          ul.nav.navbar-nav
            li.active
              a(href='/') Home
            li.active
              .dropdown
                button.dropbtn Schedules
                .dropdown-content
                  a(href="/mon/") Monday
                  a(href="/tues/") Tuesday
                  a(href="/wed/") Wednesday
                  a(href="/thurs/") Thursday
                  a(href="/fri/") Friday
                  a(href="/sat/") Saturday
            li.active
              a(href='/contact') Reserve!
            li.active
              if (user)
                a(href="/auth/register") Register an Account
              else
            li.active
              if (user)
                a(href="/auth/logout") Logout!
              else
                a(href="/auth/login") Login!


    block content
    footer
        p &copy; 2017, All Rights Reserved

    script(type="text/javascript", src='https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js')
    script(type="text/javascript", src='/javascripts/bootstrap.js')

    script(type="text/javascript", src="/javascripts/jquery-min.js")
    script(type="text/javascript", src="/javascripts/main.js")